$color-gray-dark: #232323;
$color-blue-dark: #1E1146;
$color-blue-metal: #334D68;
$color-blue-water: #0DB4BA;
$color-blue: #007FDE;

$color-white: #ffffff;
$color-black: #000000;

$color-gray: #9E9EA1;
$color-gray-light: #E5E4E9;

$color-yellow: #FFE600;

$color-lime-green: #4CFF5C;
$color-orange: #F42;

$color-orange-dark: #D44032;
$color-orange-light: #FF8853;

$color-twitter: #00aced;
$color-facebook: #3b5998;
