$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Hind', sans-serif;

$font-primary-nav: 400 #{(15rem/16)}/#{1} $font-family-secondary;
$font-heading-section: 700 #{(46rem/16)}/#{1} $font-family-primary;
$font-heading-statement: 700 #{(40rem/16)}/#{1.4} $font-family-primary;
$font-single-header: 700 #{(48rem/16)}/#{1} $font-family-primary;
$font-single-subheader: 400 #{(20rem/16)}/#{1.2} $font-family-primary;
$font-single-paragraph: 300 #{(18rem/16)}/#{1.4} $font-family-secondary;
$font-widget-heading: 700 #{(24rem/16)}/#{1} $font-family-primary;
$font-widget-header: 700 #{(14rem/16)}/#{1.2} $font-family-primary;


.heading-section {
	font: $font-heading-section;
	display: inline-block;
	margin-bottom: 35px;
	position: relative;

	&.ruler-gray {
		&:after {
			background-color: $color-gray;
		}
	}
}

.event-row,
article,
.single-meta-byline {
	a {
		transition: all .15s ease-out;
		position: relative;

		&:before {
			position: absolute;
	    transition: all .3s ease-in-out 0s;
	    content: " ";
	    width: 100%;
	    height: 1px;
	    bottom: 5px;
	    left: 0;
	    background-color: #ff4936;
	    visibility: hidden;
	    transform: scaleX(0);
		}

		&:hover {
			&:before {
				visibility: visible;
				transform: scaleX(1);
			}
		}
	}
}

.widget-heading {
	font: $font-widget-heading;
	margin-bottom: $spacer-medium;
	letter-spacing: -.015em;
}

.statement-heading {
	span {
		font-size: 50px;
	}
}
