$border-primary: 1px solid #EBEBEB;
$header-duration: .2s;

.section-bg-gray {
	background-color: #F6F8FA;
}

.section-bg-black {
	background-color: $color-black;
	color: $color-white;
}

%slash {
	padding: 0 2px 0 5px;
	content: "/ ";
}

%background-gradient {
	background: #43cea2;
	background: -webkit-linear-gradient(270deg,#43cea2,#185a9d);
	background: linear-gradient(270deg,#43cea2,#185a9d);
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}
