$border-primary: 1px solid #EBEBEB;

.section-bg-gray {
	background-color: #F6F8FA;
}

.section-bg-black {
	background-color: $color-black;
	color: $color-white;
}

%slash {
	padding: 0 2px 0 5px;
	content: "/ ";
}
