{{ partial "header.html" }}
{{ partial "nav.html" }}
<div class="container">
	<div class="single-wrapper">

		<div class="left-column">
			<aside>
				<div class="module-block content-block">
					<h4>Module</h4>
				</div>
				<div class="module-block content-block">
					<h4>Module</h4>
				</div>
				<div class="module-block content-block">
					<h4>Module</h4>
				</div>
			</aside>
		</div>

		<div class="right-column">
			<h2 class="single-headline">Fake news and trust in the media take front row</h2>
			<div class="single-meta">
				<h4 class="single-meta-byline"><i class="fa fa-user" aria-hidden="true"></i>samanthasunne</h4>
				<h4 class="single-meta-date">Nov 28, 2016</h4>
			</div>
			<article class="single-article">
				<p>Good morning, afternoon, evening or night, hacks and hackers. After a year of news events like Brexit, the European refugee crisis and the U.S. election, journalists are getting more concerned about the spread of fake news and an apparent lack of trust from the public. Organizations and private companies are starting to take action, but it’s going to be a long road ahead.</p>
				<p>
					<h4>The week ahead:</h4>
					<li>Brisbane is socialising at the Australian Broadcasting</li> <li>Corporation</li>
					<li>London is holding its November meetup</li>
					<li>Zurich is talking about storytelling</li>
					<li>Miami and IRE are holding their regular weekly open labs</li>
				</p>
				<p>
					<h4>Chapter spotlight:</h4>
					Helsinki met last month to share info about the Uutisraivaaja media innovation contest in Finland. Event organizer Rosa Lampela learned something that may be counterintuitive: sometimes you can have too many speakers.
					“Even though the speeches in H/H are supposed to be quite short, a lot of time goes into the questions and discussion. That’s a good thing as they are the whole point of the meetings. Now I know not to crowd the schedule.”
				</p>
			</article>
		</div>
	</div>
</div>
{{ partial "footer.html" }}
