{{ partial "header.html" .Site }}
{{ partial "nav.html" . }}
<div class="container">
  <div class="flex-wrapper">

    <div class="left-column group-single">
      <!-- {{ .Title }} -->
      {{ partial "widgets/container-group.html" }}
    </div>

    <div class="right-column">

      <h2 class="group-title">ATLANTA</h2>
      <h3 class="single-headline">Friendly Heads Up: Holiday Party for Bay Area Journalists Dec. 14</h3>

      <div class="single-event-share-wrapper">
        <button class="btn-view-more fill-orange">JOIN AND RSVP</button>
        <ul class="share-social">
          <li>SHARE:</li>
          <li class="fa fa-facebook"><a href="#"></a></li>
          <li class="fa fa-twitter"><a href="#"></a></li>
        </ul>
      </div>

      <div class="single-event-meta">
        <div class="single-event-details">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <div class="single-event-details-wrapper">
            <span class="single-event-details-heading">Wednesday, December 14, 2016</span>
            <span>6:00 PM to 9:00 PM</span>
          </div>
        </div>
        <div class="single-event-details">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <div class="single-event-details-wrapper">
            <span class="single-event-details-heading">Bluxome Street Winery</span>
            <span>900 North Point Street, San Francisco, CA <a href="#">(map)</a></span>
          </div>
        </div>
      </div>

      <div class="single-event-entry-details">
        <div class="single-article">
          <p>Though not an official Hacks/Hackers event, we wanted to let you know there's a holiday party for Bay Area journalists and media types, put on by our friends at the Solutions Journalism Network and the Pacific Media Workers Guild (and more).</p>
          <p>Get your ticket(s) early to get ready to celebrate the almost end of 2016 with fellow hacks (and hackers).</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero soluta, aliquam magnam ab dolor id assumenda exercitationem necessitatibus? Illum quis eligendi asperiores iste tenetur molestiae dolor unde? Nisi, aliquam!</p>
          <p>Tix are $15 and you can them here: <a>https://www.eventbrite.com/e/holiday-party-for-bay-area-journalists-tickets-27677632544</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
{{ partial "footer.html" . }}
