{{ partial "header.html" (dict "maintitle" .Title "subtitle" .Site.Title) }}
{{ partial "nav.html" . }}
<div class="container {{ if .IsPage }}{{ (printf "group-%s" .File.TranslationBaseName) }}{{ end }}">
  <div class="flex-wrapper">

    <div class="left-column group-single">
      <!-- {{ .Title }} -->
      {{ partial "widgets/container-group.html" . }}
    </div>

    <div class="right-column">
      <h2 class="single-headline group-title">{{ .Title }}</h2>

      {{ partial "utils/suggest-edits.html" . }}

      <article class="single-article">
        {{ .Content }}
      </article>

    </div>
  </div>
</div>
{{ partial "footer.html" . }}
