{{ partial "header.html" }}
{{ partial "nav.html" }}
<div class="container">
  <div class="flex-wrapper">

    <div class="left-column group-single">
      <!-- {{ .Title }} -->
      {{ partial "widgets/container-group.html" }}
    </div>

    <div class="right-column">

      <h3 class="single-headline">Upcoming Events</h3>

      <div class="group-single-events-wrapper">
        <div class="group-single-event-entry">
          <div class="group-single-event-info">
            <h4 class="group-single-event-header">Friendly Heads Up: Holiday Party for Bay Area Journalists Dec. 14</h4>
            <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
            <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
          </div>

          <div class="group-single-event-meta">
            <ul>
              <li>Wed Dec 14</li>
              <li>6:00pm</li>
              <li class="rsvp-item"><a href="#">RSVP</a></li>
              <li>2 days left</li>
              <li>189 Going</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group-single-event-entry">
        <div class="group-single-event-info">
          <h4 class="group-single-event-header">Meet the Buzzfeed Open Lab</h4>
          <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
          <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
        </div>

        <div class="group-single-event-meta">
          <ul>
            <li>Wed Dec 14</li>
            <li>6:00pm</li>
            <li class="rsvp-item"><a href="#">RSVP</a></li>
            <li>2 days left</li>
            <li>189 Going</li>
          </ul>
        </div>
      </div>

      <h3 class="single-headline">Past Events</h3>

      <div class="group-single-events-wrapper">
        <div class="group-single-event-entry">
          <div class="group-single-event-info">
            <h4 class="group-single-event-header">Friendly Heads Up: Holiday Party for Bay Area Journalists Dec. 14</h4>
            <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
            <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
          </div>

          <div class="group-single-event-meta">
            <ul>
              <li>Wed Dec 14</li>
              <li>6:00pm</li>
              <li class="rsvp-item"><a href="#">RSVP</a></li>
              <li>2 days left</li>
              <li>189 Going</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group-single-event-entry">
        <div class="group-single-event-info">
          <h4 class="group-single-event-header">Meet the Buzzfeed Open Lab</h4>
          <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
          <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
        </div>

        <div class="group-single-event-meta">
          <ul>
            <li>Wed Dec 14</li>
            <li>6:00pm</li>
            <li class="rsvp-item"><a href="#">RSVP</a></li>
            <li>2 days left</li>
            <li>189 Going</li>
          </ul>
        </div>
      </div>

      <div class="group-single-event-entry">
        <div class="group-single-event-info">
          <h4 class="group-single-event-header">Meet the Buzzfeed Open Lab</h4>
          <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
          <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
        </div>

        <div class="group-single-event-meta">
          <ul>
            <li>Wed Dec 14</li>
            <li>6:00pm</li>
            <li class="rsvp-item"><a href="#">RSVP</a></li>
            <li>2 days left</li>
            <li>189 Going</li>
          </ul>
        </div>
      </div>

      <div class="group-single-event-entry">
        <div class="group-single-event-info">
          <h4 class="group-single-event-header">Meet the Buzzfeed Open Lab</h4>
          <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
          <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
        </div>

        <div class="group-single-event-meta">
          <ul>
            <li>Wed Dec 14</li>
            <li>6:00pm</li>
            <li class="rsvp-item"><a href="#">RSVP</a></li>
            <li>2 days left</li>
            <li>189 Going</li>
          </ul>
        </div>
      </div>

      <div class="group-single-event-entry">
        <div class="group-single-event-info">
          <h4 class="group-single-event-header">Meet the Buzzfeed Open Lab</h4>
          <h5 class="group-single-event-venue">Bluxome Street Winery</h5>
          <h5 class="group-single-event-location">900 North Point Street, San Francisco, CA</h5>
        </div>

        <div class="group-single-event-meta">
          <ul>
            <li>Wed Dec 14</li>
            <li>6:00pm</li>
            <li class="rsvp-item"><a href="#">RSVP</a></li>
            <li>2 days left</li>
            <li>189 Going</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
{{ partial "footer.html" }}
