{{ partial "header.html" .Site }}
{{ partial "nav.html" . }}
<div class="container">
  <div class="single-wrapper">

    <h2 class="single-headline">Featured Events</h2>

    <div class="events-featured-wrapper">
      <div class="event-row">
        <div class="event-name-info">
          <a class="event-name" href="#">Meet the Buzzfeed Open Lab</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid, fugiat mollitia vel veritatis expedita laborum! Aut similique, iure, repellat laudantium reprehenderit, optio soluta modi blanditiis et doloribus harum obcaecati?</p>
          <div class="event-register-btns">
            <button class="btn-view-more"><a href="#">REGISTER</a></button>
            <button class="btn-view-more"><a href="#">ATTEND</a></button>
          </div>
        </div>
        <h5 class="event-date">Mon Dec 19</h5>
        <h5 class="event-time">New York City</h5>
      </div>

      <div class="event-row">
        <div class="event-name-info">
          <a class="event-name" href="#">Meet the Buzzfeed Open Lab</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid, fugiat mollitia vel veritatis expedita laborum! Aut similique, iure, repellat laudantium reprehenderit, optio soluta modi blanditiis et doloribus harum obcaecati?</p>
          <div class="event-register-btns">
            <button class="btn-view-more"><a href="#">REGISTER</a></button>
            <button class="btn-view-more"><a href="#">ATTEND</a></button>
          </div>
        </div>
        <h5 class="event-date">Mon Dec 19</h5>
        <h5 class="event-time">New York City</h5>
      </div>

      <div class="event-row">
        <div class="event-name-info">
          <a class="event-name" href="#">Meet the Buzzfeed Open Lab</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid, fugiat mollitia vel veritatis expedita laborum! Aut similique, iure, repellat laudantium reprehenderit, optio soluta modi blanditiis et doloribus harum obcaecati?</p>
          <div class="event-register-btns">
            <button class="btn-view-more"><a href="#">REGISTER</a></button>
            <button class="btn-view-more"><a href="#">ATTEND</a></button>
          </div>
        </div>
        <h5 class="event-date">Mon Dec 19</h5>
        <h5 class="event-time">New York City</h5>
      </div>

      <div class="event-row">
        <div class="event-name-info">
          <a class="event-name" href="#">Meet the Buzzfeed Open Lab</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid, fugiat mollitia vel veritatis expedita laborum! Aut similique, iure, repellat laudantium reprehenderit, optio soluta modi blanditiis et doloribus harum obcaecati?</p>
          <div class="event-register-btns">
            <button class="btn-view-more"><a href="#">REGISTER</a></button>
            <button class="btn-view-more"><a href="#">ATTEND</a></button>
          </div>
        </div>
        <h5 class="event-date">Mon Dec 19</h5>
        <h5 class="event-time">New York City</h5>
      </div>

      <div class="event-row">
        <div class="event-name-info">
          <a class="event-name" href="#">Meet the Buzzfeed Open Lab</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid, fugiat mollitia vel veritatis expedita laborum! Aut similique, iure, repellat laudantium reprehenderit, optio soluta modi blanditiis et doloribus harum obcaecati?</p>
          <div class="event-register-btns">
            <button class="btn-view-more"><a href="#">REGISTER</a></button>
            <button class="btn-view-more"><a href="#">ATTEND</a></button>
          </div>
        </div>
        <h5 class="event-date">Mon Dec 19</h5>
        <h5 class="event-time">New York City</h5>
      </div>

      <button class="btn-view-more">View More</button>
    </div>

  </div>
</div>
{{ partial "footer.html" . }}
