{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="map-wrapper">
  {{ partial "map.html" . }}
</div>

<div class="container">
  <div class="single-wrapper">
    <div class="groups-archive-wrapper">
      <div class="groups-archive-top">
        <h2 class="single-headline">{{ len .Site.Data.groups }} Local Groups</h2>
        <h4 class="start-group"><a href="#">{{ .Params.startcta }}</a></h4>
        {{/* partial "find-groups.html" .Site.Data.groups */}}
      </div>
      <h3>{{ .Params.subhed }}</h3>
    </div>

    {{ partial "group-cities.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
