{{ partial "header.html" }}
{{ partial "nav.html" }}

<div class="home-wrapper">
	<div class="hero-wrapper module parallax">
			<!-- <img src='https://s12.postimg.org/ddx6i7rvh/map3.png' border='0' alt='map3'/> -->
			<div class="statement-wrapper">
				<h4 class="statement-heading">Hacks/Hackers is a rapidly expanding <br /> international grassroots journalism organization</h4>
				<!-- <button class="btn-outline">LEARN MORE <i class="fa fa-chevron-right" aria-hidden="true"></i></button> -->
			</div>
	</div>

	<!-- <section class="statement">
		<div class="section-bg-gray">
			<div class="statement-wrapper container">
				<h4 class="statement-heading">Hacks/Hackers is a rapidly expanding <br /> international grassroots journalism organization</h4>
			</div>
		</div>
	</section> -->

	{{ partial "home-featured-events.html" }}
	{{ partial "home-newsletter-signup.html" }}

	<div class="section-bg-black">
		<div class="section-wrapper container">
			{{ partial "home-resources.html" }}
			{{ partial "home-featured-organizers.html" }}
		</div>
	</div>

</div>

{{ partial "footer.html" }}
