	<footer class="footer-wrapper">
		<div class="container">
			<div class="footer-container">
				<ul class="footer-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Find a Group</a></li>
					<li><a href="#">Featured Events</a></li>
					<li><a href="#">Resources</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
				<ul class="footer-social">
					<li class="fa fa-facebook"><a href="#"></a></li>
					<li class="fa fa-twitter"><a href="#"></a></li>
					<li class="fa fa-rss"><a href="#"></a></li>
				</ul>
			</div>
		</div>
	</footer>

  	<script type="text/javascript" src="/js/index_bundle.js"></script>
  </body>
</html>
