<li class="local-groups-city">
  {{/*
    Links first to local group page if one is available.
    If no local group page, try the external link (e.g. Meetup).
  */}}
  <div class="local-groups-city-wrapper">
    <div class="local-groups-city-box">
      <h5 class="local-groups-city-title">
        {{ if $.groupPage }}
          <a class="group-link local" href="{{ (printf "/groups/%s/" $.groupPage) }}">{{ $.label }}</a>
        {{ else if $.externalUrl }}
          <a class="group-link external" href="{{ $.externalUrl }}" target="_blank">{{ $.label }}</a>
        {{ else }}
          {{ $.label }}
        {{ end }}
      </h5>
    </div>
    {{ if $.organizers }}
      <h5 class="local-groups-city-organizer"><span class="group-header-small">Organized By:</span>
        {{ range $idx, $value := $.organizers }}
          <span>{{ if ne 0 $idx }}, {{ end }}{{ partial "utils/maybe-organizer-link.html" $value }}</span>
        {{ end }}
      </h5>
    {{ end }}
    {{ if $.founded }}
      <h5><span class="group-header-small">Founded:</span> <span>{{ $.founded }}</span></h5>
    {{ end }}
  </div>
</li>
