<div class="local-groups-wrapper">
	<ul class="local-groups groups">
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
		<li class="local-groups-city">
			<a href="#">
				<div class="local-groups-city-wrapper">
					<div class="local-groups-city-box">
						<h5 class="local-groups-city-title">New York City</h5>
					</div>
					<h5 class="local-groups-city-organizer"><span>Organized By:<span>Josh Ryan</h5>
					<a class="local-groups-city-contact">hhnyc@gmail.com</a>
				</div>
			</a>
		</li>
	</ul>
</div>
