<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "utils/doc-title.html" . }}
    {{ partial "utils/og-tags.html" . }}
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Hind:300,700|Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/lib/styles.css" />
    <script src="https://use.fontawesome.com/46a4a989f0.js"></script>
  </head>
  <body>
    {{ partial "utils/ga.html" }}
