<section class="featured-events container">
	<div class="featured-events-wrapper section-padding">
		<h3 class="heading-section ruler-gray"><a href="#">Events</a></h3>

		<div class="event-row">
			<h4 class="event-name"><a href="#">Friendly Heads Up: Holiday Party for Bay Area Journalists</a></h4>
			<h5 class="event-date">Wed Dec 14</h5>
			<h5 class="event-time">San Francisco</h5>
		</div>

		<div class="event-row">
			<h4 class="event-name"><a href="#">Meet the Buzzfeed Open Lab</a></h4>
			<h5 class="event-date">Mon Dec 19</h5>
			<h5 class="event-time">New York City</h5>
		</div>

		<div class="event-row">
			<h4 class="event-name"><a href="#">H/H @ Stanford: Illuminating SearchLight and DocumentCloud</a></h4>
			<h5 class="event-date">Tue Dec 24</h5>
			<h5 class="event-time">Philly</h5>
		</div>

		<div class="event-row">
			<h4 class="event-name"><a href="#">The Future of Journalism in a Wikipedia World</a></h4>
			<h5 class="event-date">Fri Dec 29</h5>
			<h5 class="event-time">Portland</h5>
		</div>

		<div class="event-row">
			<h4 class="event-name"><a href="#">Friendly Heads Up: Holiday Party for Bay Area Journalists</a></h4>
			<h5 class="event-date">Sat Dec 30</h5>
			<h5 class="event-time">Oakland</h5>
		</div>

		<button class="btn-view-more"><a href="#">View More<i class="fa fa-chevron-right" aria-hidden="true"></i></a></button>
	</div>
</section>
