<div class="organizers">
	<h4 class="heading-section ruler-gray">Organizers</h4>
	<ul class="list-module list-organizers">
		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Trei Brundrett</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Becca Aaronson</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Christian McDonald</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Sarah Problems</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Luke Skywalker</span>
			</a>
		</li>
	</ul>
	<button class="btn-view-more"><a href="#">View More</a></button>
</div>
