<div class="section-bg-gray">
	<div class="container">
		<div class="home-newsletter-signup">
			<div class="left-column-signup">
				<img src='/images/work.png' border='0' alt='work' class="home-signup-img"/>
			</div>
			<div class="right-column-signup">
				<h4 class="heading-section">Sign Up</h4>
				<div class="newsletter-signup-input-wrap">
					<input type="text" class="newsletter-signup-input" placeholder="Your Email Address">
					<button class="newsletter-btn fa fa-chevron-right"></button>
				</div>
				<p>Journalists sometimes call themselves “hacks,” a tongue-in-cheek term for someone who can churn out words in any situation. Hackers use the digital equivalent of duct tape to whip out code. Hacks/Hackers tries to bridge those two worlds. It’s for hackers exploring technologies to filter, visualize and distribute information, and for hacks who use technology to find and tell stories. Hacks/Hackers is a digital community of people who seek to inspire each other, share information (and code) and collaborate to invent the future of media and journalism.</p>
				<p>This group is to bring all these people together — those who are working to help people make sense of their world. It’s for hackers exploring technologies to filter and visualize information, and for journalists who use technology to find and tell stories. In the age of information overload, all their work has become even more crucial.</p>
			</div>
		</div>
	</div>
</div>
