<div class="organizers">
	<h4 class="heading-section">Organizers</h4>
	<ul>
		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Organizer Name</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Organizer Name</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Organizer Name</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Organizer Name</span>
			</a>
		</li>

		<li>
			<a href="#" class="organizer-row">
				<div class="organizer-img"></div>
				<span class="organizer-name">Organizer Name</span>
			</a>
		</li>
	</ul>
</div>
