<div class="single-meta">
    <div class="blog-single-meta">

      {{/* Blog post authors */}}
      {{ if .Params.authors }}
        <h4 class="single-meta-byline">
          <span>By</span>
          {{ range $index, $author := .Params.authors }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
        </h4>
      {{ end }}

      {{/* Blog post date */}}
      <h4 class="single-meta-date">{{ $.Date.Format "Jan 2, 2006" }}</h4>

    </div>
</div>
