<div class="grid">
	<div class="header-wrapper row">

		<div class="col-large-4 col-medium-6 col-small-6">
			<div class="logo-wrapper content-block">
				<h4>Logo</h4>
			</div>
		</div>

		<div class="col-large-2 col-medium-2 hide-small">
			<div class="content-block">
				<h4>Group Dropdown</h4>
			</div>
		</div>

		<div class="col-small-3 align-right hide-medium hide-large">
			<div class="content-block">
				<h4>Menu</h4>
			</div>
		</div>

		<div class="col-large-2 col-medium-2 push-right hide-small">
			<div class="content-block">
				<h4>Subscribe</h4>
			</div>
		</div>
	</div>
</div>

<div class="main-nav row full-bleed">
	<div class="col-large-12 col-medium-12 hide-small">
		<div class="content-block">
			<h4>Main Navigation</h4>
		</div>
	</div>
</div>
