<header>
	<div class="sticky-wrapper">
		<div class="container">
			<div class="header-wrapper">


					<div class="logo-wrapper">
						{{ partial "logo-header.svg" }}
					</div>

					<!-- <div class="dropdown-wrapper">
						<h4>Find group</h4>
						<i class="fa fa-chevron-down" aria-hidden="true"></i>
					</div> -->

					<nav role="navigation" class="main-nav full-bleed">
							<div class="nav-wrapper">
								<ul class="main-nav-items">
									<li><a href="#">About</a></li>
									<li><a href="#">Find a Group</a></li>
									<li><a href="#">Featured Events</a></li>
									<li><a href="#">Resources</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
								<div class="main-nav-search">
									<i class="fa fa-search" aria-hidden="true"></i>
								</div>
								<button class="mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
							</div>
					</nav>

					<div class="header-signup">
						<form class="widget-signup--form">
							<div class="widget-signup--input">
								<input class="form-input" placeholder="Email">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<button type="submit">Subscribe</button>
						</form>
					</div>

					<button class="hamburger-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>	
</header>
