<!-- Begin MailChimp Signup Form -->
<form
  action="//hackshackers.us1.list-manage.com/subscribe/post?u=c56f2e53d5ed6ef87f8aaa75c&amp;id=fb2bc6f10b"
  method="post"
  name="mc-embedded-subscribe-form"
  target="_blank"
  class="widget-signup--form"
>
  <div class="widget-signup--input">
    <input
      type="email"
      value=""
      name="EMAIL"
      class="form-input"
      placeholder="{{ default "Email" .Placeholder }}"
    >
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_c56f2e53d5ed6ef87f8aaa75c_fb2bc6f10b" tabindex="-1" value="">
  </div>
  <input
    type="submit"
    value="Subscribe"
    name="subscribe"
    class="widget-signup--button"
  >
</form>
<!--End mc_embed_signup-->
