.hero-wrapper {
	.content-block {
		height: 500px;
		flex-direction: column;
	}
}

.right-column {
	>* {
		margin-bottom: $spacer-gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.featured-chapter,
.popular-resources,
.entry-block {
	height: 350px;
}

.upcoming-events {
	height: 250px;
}

.featured-organizers {
	height: 485px;
}

.row-middle {
	margin-bottom: 40px;
}

.footer-wrapper {
	padding: 0;
}
