<div class="group-widget-info group-widget">
	<ul>
		<li><a href="#">
			<span class="group-widget-info-title">Upcoming Meetups:</span>
			<span class="group-widget-info-number">4</span>
		</a></li>
		<li><a href="#">
			<span class="group-widget-info-title">Past Meetups:</span>
			<span class="group-widget-info-number">54</span>
		</a></li>
		<li><a href="#">
			<span class="group-widget-info-title">Our Calendar:</span>
			<span class="group-widget-info-number">54</span>
		</a></li>
		<li><a href="#"></a></li>
	</ul>
</div>
