<div class="widget widget-wrapper widget-most-popular">
	<ul class="widget-most-popular--list">
		<li>
			<a href="#" class="widget-most-popular--post">
				<div class="widget-most-popular--title">
					<h3 class="widget-most-popular--header">Public media is investing in major digital projects</h3>
					<ul class="widget-most-popular--meta">
						<li class="widget-most-popular--byline">Barrett Golding</li>
						<li>Last week</li>
					</ul>
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="widget-most-popular--post">
				<div class="widget-most-popular--title">
					<h3 class="widget-most-popular--header">Public media is investing in major digital projects</h3>
					<ul class="widget-most-popular--meta">
						<li class="widget-most-popular--byline">Barrett Golding</li>
						<li>Last week</li>
					</ul>
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="widget-most-popular--post">
				<div class="widget-most-popular--title">
					<h3 class="widget-most-popular--header">Public media is investing in major digital projects</h3>
					<ul class="widget-most-popular--meta">
						<li class="widget-most-popular--byline">Barrett Golding</li>
						<li>Last week</li>
					</ul>
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="widget-most-popular--post">
				<div class="widget-most-popular--title">
					<h3 class="widget-most-popular--header">Public media is investing in major digital projects</h3>
					<ul class="widget-most-popular--meta">
						<li class="widget-most-popular--byline">Barrett Golding</li>
						<li>Last week</li>
					</ul>
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="widget-most-popular--post">
				<div class="widget-most-popular--title">
					<h3 class="widget-most-popular--header">Public media is investing in major digital projects</h3>
					<ul class="widget-most-popular--meta">
						<li class="widget-most-popular--byline">Barrett Golding</li>
						<li>Last week</li>
					</ul>
				</div>
			</a>
		</li>
	</ul>
</div>
