.local-groups {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.local-groups-city {
	margin-bottom: 45px;

	@media #{$breakpoint-desktop} {
		width: 33.3%;
	}

	button {
		margin: 5px 0 0 0;
	}
}

.local-groups-city-box {
	color: $color-black;
}

.local-groups-city-title {
	font: $font-primary-nav;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-right: 10px;
	position: relative;
	font-weight: 700;

	.group-link {
		&:before {
			content: "";
			position: absolute;
			width: 17%;
			height: 1px;
			bottom: -4px;
			border-bottom: 3px solid $color-black;
		}

		&:hover {
			color: $color-orange;
		}

		&.external {
			&:after {
				content: "\f08e";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				margin-left: 8px;
				vertical-align: middle;
			}
		}
	}

}

.groups-archive-wrapper {
	border-bottom: $border-primary;
	margin-bottom: 55px;
	padding-bottom: $spacer-small;

	h3 {
		font: $font-single-subheader;
	}

	h4 {
		color: $color-orange;
		font-size: 22px;
		font-weight: 700;
		text-decoration: underline;

		@media #{$breakpoint-tablet-min} {
			margin-left: $spacer-gutter;
		}

		&:hover {
			color: $color-blue-water;
		}
	}
}

.groups-archive-top {
	align-items: baseline;
	display: flex;

	@media #{$breakpoint-mobile} {
		flex-direction: column;
	}
}

.group-header-small {
	font-weight: 700;

	span {
		font-weight: 400;
	}
}
