.hero-wrapper {
	.content-block {
		height: 500px;
		flex-direction: column;
	}
}

.featured-chapter,
.popular-resources,
.entry-block {
	height: 350px;
}

.upcoming-events {
	height: 250px;
}

.featured-organizers {
	height: 485px;
}

.row-middle {
	margin-bottom: 40px;
}

.home-resource-signup-wrapper {
	background: $color-black;
	padding: $spacer-gutter 0;

	.heading-section {
		color: $color-white;
	}

	.container {
		display: flex;

		@media #{$breakpoint-tablet-max} {
			flex-direction: column;
		}
	}
}
