/**
 * Styles for specific pages, e.g. about/organizers.md -> .single-organizers
 */
.single-organizers {
	figure {
		float: left;
		width: 200px;

		@media #{$breakpoint-mobile} {
			width: 100px;
		}
	}

	img {
		width: 100%;
	}

	figure {
		margin: 0 $spacer-large $spacer-small 0;
	}
}

.section-list {
	margin-bottom: $spacer-medium;

	li {
		color: $color-blue;
		display: inline;
		font-weight: 700;

		&:not(:last-of-type) {
			padding-right: 13px;
			margin-right: $spacer-small;
			border-right: $border-primary;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
