.byline-block,
.headline-block,
.subheadline-block {
	margin-bottom: $spacer-gutter;
}

@media screen and (max-width: 1023px){
	.left-column {
		order: 2;
	}
	.right-column {
		order: 1;
	}
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;

	@media #{$breakpoint-desktop} {
		flex-wrap: nowrap;
		margin: 70px 0;
	}
}

.left-column {
	margin: 0 auto;
	width: 100%;
	max-width: 300px;

	@media #{$breakpoint-desktop} {
		border-right: $border-primary;
		padding-right: 28px;
		padding-top: 5px;
		margin: 0;
	}

	&.group-single {
		max-width: 200px;
	}
}

.right-column {
	width: 100%;

	@media #{$breakpoint-desktop} {
		padding-left: 28px;
	}
}

.single-headline {
	font: $font-single-header;
	letter-spacing: -.03em;
	margin-bottom: $spacer-medium;

	@media #{$breakpoint-mobile} {
		font-size: 34px;
	}

	&:after {
		content: "";
    display: inline-block;
    width: 8px;
    height: 38px;
    background-color: $color-blue-water;
    margin-bottom: 8px;
    margin-left: 16px;
    vertical-align: sub;

		@media #{$breakpoint-mobile} {
			height: 25px;
			margin-bottom: 5px;
		}
	}
}

.single-subheadline {
	color: $color-gray-dark;
	font: $font-single-subheader;
}

.single-meta {
	color: $color-gray;
	display: flex;
	align-items: center;
	margin-bottom: $spacer-gutter;
}

.single-meta-byline {
	font-style: italic;
	font-size: 18px;
	color: $color-gray-dark;
	margin-right: $spacer-large;
	font-weight: 900;

	i {
		margin-right: $spacer-small;
	}
}

.single-meta-date {
	margin-right: $spacer-large;
}

.single-article {
	font: $font-single-paragraph;
	width: 100%;
	margin-bottom: 70px;

	@media #{$breakpoint-desktop} {
		margin-bottom: 0;
		width: 75%;
	}

	p {
		margin-bottom: $spacer-large;
	}

	h4 {
		font-weight: 900;
	}
}

.link-hack-this {
	text-decoration: underline;

	&:hover {
		color: $color-orange-light;
	}
}
