.byline-block,
.headline-block,
.subheadline-block {
	margin-bottom: $spacer-gutter;
}

@media screen and (max-width: 1023px){
	.left-column {
		order: 2;
	}
	.right-column {
		order: 1;
	}
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;

	@media #{$breakpoint-desktop} {
		flex-wrap: nowrap;
		margin: 55px 0;
	}
}

.left-column {
	margin: 0 auto;
	width: 100%;
	max-width: 200px;

	@media #{$breakpoint-desktop} {
		border-right: $border-primary;
		padding-right: 28px;
		padding-top: 5px;
		margin: 0;
	}
}

.right-column {
	width: 100%;

	@media #{$breakpoint-desktop} {
		padding-left: 28px;
	}
}

.single-headline,
.heading-section {
	&:after {
		animation: blinker .5s step-end infinite alternate;
		content: "";
		display: inline-block;
		height: 42px;
		border-right: 13px solid $color-gray;
		margin-bottom: 3px;
		margin-left: 11px;
		vertical-align: sub;

		@media #{$breakpoint-mobile} {
			height: 25px;
			margin-bottom: 5px;
		}
	}
}

.single-headline {
	font: $font-single-header;
	letter-spacing: -.03em;
	margin-bottom: $spacer-medium;

	@media #{$breakpoint-mobile} {
		font-size: 34px;
	}

	@media #{$breakpoint-desktop} {
		width: 90%;
	}
}

@keyframes blinker {
  50% { opacity: 0; }
}

article {
	.single-headline {
		&:after {
			margin-left: 17px;
			margin-bottom: 7px;
		}
	}
}

.single-subheadline {
	color: $color-gray-dark;
	font: $font-single-subheader;
}

.single-meta {
	color: $color-gray;
	display: flex;
	align-items: center;
	margin-bottom: $spacer-large;
}

.single-meta-byline {
	font-size: 18px;
	color: $color-gray-dark;
	margin-right: $spacer-small;
	font-weight: 900;

	i {
		margin-right: $spacer-small;
	}

	&:after {
		@extend %slash;
	}

	span,
	&:after {
		color: $color-gray;
		font-weight: 400;
	}
}

.single-meta-date {
	margin-right: $spacer-large;
}

.single-article {
	font: $font-single-paragraph;
	width: 100%;
	margin-bottom: 70px;
	z-index: 2;
	position: relative;

	@media #{$breakpoint-desktop} {
		margin-bottom: 0;
		width: 75%;
	}

	p {
		margin-bottom: $spacer-large;
	}

	h4 {
		font-weight: 900;
	}

	a {
		color: $color-blue;
	}

	ul {
		list-style-type: circle;
		margin-bottom: $spacer-large;
		padding-left: $spacer-large;
	}

	li {
		padding-bottom: $spacer-small;
	}
}

.link-hack-this {
	position: relative;
	background-color: $color-blue;
	width: 122px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	color: $color-white;
	font-size: 13px;
	margin-bottom: $spacer-large;

	&:hover {
		background-color: $color-blue-water;
	}
}

.blog-single-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	width: 100%;
	z-index: 2;
	position: relative;
}

.taxonomy-terms {
	a {
		text-decoration: underline;

		&:hover {
			color: $color-black;
		}
	}
}
