.hero-wrapper {
	// align-items: center;
	// justify-content: center;
	// display: flex;
	position: relative;
	text-align: center;
	margin-bottom: $spacer-section;

	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.9;
		// background: #4CB8C4; /* fallback for old browsers */
		// background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
		// background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// //
// background: #00C9FF; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



background: #43cea2; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

	}

	.statement-wrapper {
		position: absolute;
		top: 90px;
		width: 100%;
		color: $color-white;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	&.parallax {
		height: 400px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-image: url("/images/map3.png");
	}
}
