.home-newsletter-signup {
	display: flex;
}

.left-column-signup {
	min-width: 50%;
}

.home-signup-img {
	height: 100%;
	width: 100%;
}

.right-column-signup {
	flex-direction: column;
	padding: 50px 0px 0px 70px;
	width: 50%;
}
