body { background-color: #fafafa; }

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.muted {
	color: #999;
}
header {
	background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
    display: block;
    height: 50px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
}
header > div {
	display: inline-block;
	height: 50px;
	padding: 1px 20px;
	border-left: 1px solid #d8d8d8;
	line-height: 19px;
	float: left;
	min-width: 140px;
}
header > div:last-child {
	/*float: right;*/
}
header > div:first-child {
	line-height: 62px;
	padding-top: 0;
}
header > div small {
	color: #999;
	font-size: 1.1rem;
}
header #our-logo {
	letter-spacing: -0.015em;
	font-size: 1.7rem;
}

#document-info {
	width: 220px;
	float: left;
	padding: 85px 40px 50px;
	font-size: 1.4rem;
	line-height: 2;
	color: #999;
	position: fixed;
	overflow-y: scroll;
	height: 100%;
}
#document-info li div {
	margin-bottom: 5px;
}
#document-info ul ul {
	margin-top: 20px;
}
#document-info ul ul ul {
	margin-top: 0;
}
#document-info ul ul ul li a {
	margin-left: 15px;
	font-weight: 400;
}
#document-info ul ul li {
	margin-bottom: 10px;
	font-size: 1.2rem;
	padding-left: 15px;
}
#document-info ul ul li a {
	color: #00bbef;
}
#page-content-wrap {
	width: calc(100% - 220px);
	float: left;
	padding: 85px 0 40px;
	border-left: 1px solid #d8d8d8;
	margin-left: 220px;
}

[class*="font-family-"] ul li div {
    font-size: 1.2rem;
    text-transform: lowercase;
    color: #999;
    font-family: arial;
    letter-spacing: 0;
}

.font-family ul li {
    margin-bottom: 20px;
}

section {
	padding: 0 40px;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 80px;
}
dl, dd a {
	margin-top: 0;
	color: #999;
}
dt {
	margin-bottom: 0.4em;
}
dd {
	margin-left: 0;
	font-size: 1.4rem;
	margin-bottom: 0.2em;
	max-width: 450px;
}
dd + dd {
	margin-top: 1em;
}
dd a, dd a:hover {
	text-decoration: underline;
}

section.demo-link {
		display: inline-block;
    margin-bottom: 80px;
    margin-top: 20px;
    padding-bottom: 0;
		width: 100%;
}
section.demo-link .row {
	margin-bottom: 0;
}
section.demo-link a {
	display: block;
	padding: 20px 0;
	background-color: #d8d8d8;
	color: white;
}
section.demo-link a:hover {
	background-color: #000;
}

[class*="font-family-"] {
	margin-bottom: 40px;
}
[class*="font-family-"] :last-child {
	margin-bottom: 0;
}
[class*="font-family-"]  ul li {
	margin-bottom: 20px;
}
[class*="font-family-"]  ul li div {
	font-size:  1.2rem;
	text-transform: lowercase;
	color: #999;
	font-family: arial;
	letter-spacing: 0;
}
[class*="font-family-"] ul li.border {
	border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}

.color-swatches .row { padding: 0 13px; }
.color-swatches .col-lg-2 {
	font-size: 1rem;
    letter-spacing: 0.1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 10%;
    color: #fff;
}
.color-swatches .col-lg-2  [class*="container"] > .content {
	padding-top: calc(50% - 5px);
}

[class*="postcard-"] .media, [class*="postcard-"] > div:first-child {
	max-width: 25%;
}

.section-header-1 {
	border-bottom: 1px dotted #d8d8d8;
	padding-bottom: 15px;
	margin-bottom: 40px;
	color: #00bbef;
}
.section-header-2 {
	margin-bottom: 20px;
	/*margin-top: 40px;*/
	color: #00bbef;
}
.section-header-2 span {
	font-weight: 400;
	background-color: yellow;
	font-style: italic;
}
.section-header-3 {
	margin-bottom: 10px;
	color: #999;
}

.primary-promo .item {
	margin-bottom: 0em;
}
.primary-promo .item .deck {
	font-size: 1.7rem;
	line-height: 1.3;
	max-width: 580px;
}
.primary-promo .item .meta {
	margin-top: 0;
	font-size: 1.4rem;
	margin-bottom: 1.3em;
}


.secondary-promos .item {
	font-size: 2.1rem !important;
	line-height: 1.2 !important;
	margin-bottom: 30px;
}
.secondary-promos .item .header {
	margin-top: -0.2em;
}

.promo-list li {
	font-size: 1.8rem;
	padding: 10px;
}
.promo-list li:first-child {
	padding-top: 0;
}


.x:before {
	background-color: darkred;
    border-radius: 10em;
    content: "";
    /*background-image: url('img/actions-close.svg');*/
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    margin-left: -34px;
    margin-top: -5px;
    position: absolute;
    width: 24px;
}
#swatch-1.x:before {
	margin-top: -1px;
}

.row-styletile.type-demo {
	display: inline-block;
	background-color: white;
	margin-left: -55px;
	margin-right: -55px;
	padding-bottom: 30px;
	padding-top: 50px;
	margin-bottom: 0;
	border-top: 1px solid #ececec;
}

.item .meta-wrap .meta {
    color: #434343;
}

.pre {
    background-color: #fff;
    border: 1px dotted rgba(0, 0, 0, 0.15);
    clear: both;
    display: block;
    line-height: 20px;
    margin: 10px 0 0;
    padding: 10px;
    width: 100%;
}
.pre.inline {
    color: red;
    display: inline-block;
    line-height: 17px;
    margin-left: 15px;
    padding: 0 5px;
    width: auto;
}
.pre code {
    border: medium none;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.pre code span {
    display: inline-block;
    width: 100%;
    letter-spacing: 0;
}

.demo { padding: 0 55px; }

.color-swatches .row-styletile {
	display: flex;
}
