$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Hind', sans-serif;

$font-primary-nav: 700 #{(18rem/16)}/#{1} $font-family-primary;
$font-heading-section: 700 #{(46rem/16)}/#{1} $font-family-primary;
$font-heading-statement: 700 #{(40rem/16)}/#{1.4} $font-family-primary;


.heading-section {
	font: $font-heading-section;
	margin-bottom: 35px;
}
