<!-- sync with layouts/_default/archive.html -->
<article class="archive search" id="search-result-<%- idx %>">
  <h3><a href="<%- permalink %>"><%- title %></a></h3>
  <p class="excerpt">
    <%- excerpt %>
  </p>
  <% if (isBlog) { %>
    <div class="single-meta">
        <div class="blog-single-meta">

          <% if (authors.length) { %>
            <h4 class="single-meta-byline">
              <span>By</span>
              <% authors.forEach((item, idx) => {
                if (0 < idx) { print(",") }; %>
                <a href="<%- item.url %>"><%- item.name %></a>
              <% }) %>
            </h4>
          <% } %>

          <h4 class="single-meta-date"><%- date %></h4>
        </div>
    </div>
  <% } %>
</article>
