//
// Config
//
$theflexgrid-gutter: 32px !default;
$theflexgrid-maxwidth: 1200px !default;
$theflexgrid-silent-only: false !default;

// breakpoints
$breakpoint-mobile: "(max-width: 767px)" !default;
$breakpoint-tablet: "(min-width: 768px) and (max-width: 1023px)" !default;
$breakpoint-tablet-min: "(min-width: 768px)" !default;
$breakpoint-desktop: "(min-width: 1024px)" !default;
$breakpoint-desktop-large: "(min-width: 1240px)" !default;

//
// Viewport mixin
//
@mixin viewport($viewport) {

    @if $viewport != default {
        $viewport: -#{$viewport};
    }

    @if $viewport == default {
        $viewport: '';
    }

    div.col#{$viewport}-1 {
        flex-basis: 8.3333333333%;
    }
    div.col#{$viewport}-2 {
        flex-basis: 16.666666666%;
    }
    div.col#{$viewport}-3 {
        flex-basis: 25%;
    }
    div.col#{$viewport}-4 {
        flex-basis: 33.333333333%;
    }
    div.col#{$viewport}-5 {
        flex-basis: 41.666666666%;
    }
    div.col#{$viewport}-6 {
        flex-basis: 50%;
    }
    div.col#{$viewport}-7 {
        flex-basis: 58.333333333%;
    }
    div.col#{$viewport}-8 {
        flex-basis: 66.666666666%;
    }
    div.col#{$viewport}-9 {
        flex-basis: 75%;
    }
    div.col#{$viewport}-10 {
        flex-basis: 83.333333333%;
    }
    div.col#{$viewport}-11 {
        flex-basis: 91.666666666%;
    }
    div.col#{$viewport}-12 {
        flex-basis: 100%;
    }

    div.col#{$viewport}-top {
        align-self: flex-start;
    }

    div.col#{$viewport}-bottom {
        align-self: flex-end;
    }

    div.col#{$viewport}-middle {
        align-self: center;
    }

    .row#{$viewport}-left {
      justify-content: flex-start;
    }
    .row#{$viewport}-right {
      justify-content: flex-end;
    }
    .row#{$viewport}-center {
      justify-content: center;
    }
    .row#{$viewport}-space-between {
      justify-content: space-between;
    }
    .row#{$viewport}-space-around {
      justify-content: space-around;
    }

    .row#{$viewport}-reverse {
        flex-direction: row-reverse;
    }

    .row#{$viewport}-equal > * {
        display: flex;
    }

    .row#{$viewport}-top {
        align-items: flex-start;
    }
    .row#{$viewport}-middle {
        align-items: center;
    }
    .row#{$viewport}-bottom {
        align-items: flex-end;
    }

    .hide#{$viewport} {
        display: none;
    }
}

/*
 * Generic grid styles
 */
%container {
    margin: 0 auto;
    max-width: $theflexgrid-maxwidth;
    overflow: hidden;
}

%row {
    display: flex;
    flex-wrap: wrap;

    & > * {
        box-sizing: border-box;
        padding: 0 $theflexgrid-gutter/2 0;
        flex-basis: 100%;
    }

    // &:last-child {
    //     margin-bottom: -#{$theflexgrid-gutter};
    // }
}

%gutterless {
    & > * {
        margin: 0;

        & > * {
            padding: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

%col {
    flex: 1 0 auto;
}

@if $theflexgrid-silent-only == false {
    .container {
        @extend %container;
    }

    .gutterless {
        @extend %gutterless;
    }

    .row {
        @extend %row;
    }

    .col {
        @extend %col;
    }

    /*
     * Default view
     */
    @include viewport(default);

    /*
     * Small viewport (mobile)
     */
    @media #{$breakpoint-mobile} {
        @include viewport(small);
    }

    /*
     * Medium viewport (tablets)
     */
    @media #{$breakpoint-tablet} {
        @include viewport(medium);
    }

    /*
     * Large viewport (desktop)
     */
    @media #{$breakpoint-desktop} {
        @include viewport(large);
    }

    @media #{$breakpoint-desktop-large} {
        @include viewport(large);
    }
}

.container {
  @media #{$breakpoint-mobile} {
    padding: 0px 10px;
  }
  @media #{$breakpoint-tablet} {
    width: 735px;
  }
  @media #{$breakpoint-desktop} {
    width: 1001px;
  }
  @media #{$breakpoint-desktop-large} {
    width: 1200px;
  }
}

.align-right {
  margin-left: auto;
}

.full-bleed {
	margin: 0;
	padding: 0;

	> * {
		padding-left: 0;
		padding-right: 0;
	}
}
