{{/*  List for blog posts, taxonomy terms. Also used by search single page */}}

{{ partial "header.html" }}
{{ partial "nav.html" }}
<div class="container">
  <div class="flex-wrapper">

    <div class="left-column">
      {{ partial "widgets/container.html" }}
    </div>

    <div class="right-column">
      <h2 class="single-headline">{{ .Title }}</h2>
      {{ if and (eq .Kind "taxonomy") (eq .Data.Singular "author") ( .Site.Data.authors ) }}
        {{ if (index .Site.Data.authors (.Title | urlize)) }}
          {{ partial "meta-author.html" . }}
        {{ end }}
      {{ end }}

      {{ if eq .RelPermalink "/search/" }}
        <h3 id="search-query" class="search-query"></h3>
        {{ partial "search-form.html" }}
      {{ end }}

      <section
        {{ if eq .RelPermalink "/search/" }}id="search-results"{{end}}
        class="content-list"
      >
        {{/* .IsNode is false for single page, i.e. Search */}}
        {{ if .IsNode }}
          {{ range .Paginator.Pages }}
            {{ .Render "archive" }}
          {{ end }}
        {{ end }}
      </section>

      {{ if .IsNode }}
        {{ partial "pagination.html" .Paginator }}
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer.html" }}
