{{/*  List for blog posts, taxonomy terms. Also used by search single page */}}

{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<div class="container">
  <div class="flex-wrapper">

    <div class="left-column">
      {{ partial "widgets/container.html" (dict "Content" .Site.Pages "Len" 5) }}
    </div>

    <div class="right-column">

      {{ if and (eq .Kind "taxonomy") (eq .Data.Singular "author") }}
        {{ partial "meta-author.html" . }}
      {{ else }}
        <h2 class="single-headline">{{ .Title }}</h2>
      {{ end }}

      {{ if eq .RelPermalink "/search/" }}
        <h3 id="search-query" class="search-query"></h3>
        {{ partial "search-form.html" }}
        <section id="search-results" class="content-list">
          <h4 class="search-preload">Loading search database...</h4>
        </section>
      {{ else if .IsNode }}
        <section class="content-list">
          {{ range .Paginator.Pages }}
            {{ .Render "archive" }}
          {{ end }}
        </section>
      {{ end }}


      {{ if .IsNode }}
        {{ partial "pagination.html" .Paginator }}
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
