.btn-outline {
	background: none;
	border: 3px solid $color-white;
	color: $color-white;
	padding: 20px 80px;
	font-size: 15px;
	font-weight: 400;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	i {
		padding-left: $spacer-small;
	}
}

.btn-view-more-default {
	background: $color-white;
	border-radius: 40.03px;
	display: flex;
	align-items: center;
	width: 140px;
	height: 30px;
	justify-content: center;
	margin: 0 auto;
}


.btn-view-more {
	align-items: baseline;
	background-color: $color-blue;
	border-bottom: 2px solid $color-blue-dark;
	border-radius: 40px;
	color: $color-white;
	display: flex;
	font-weight: 700;
	letter-spacing: .07em;
	margin: 0 auto;
	padding: 10px 20px;
	text-transform: uppercase;

	a {
		transition-duration: .2s;
	}

	.fa-chevron-right {
		margin-left: $spacer-small;
	}

	&.fill-orange {
		background-color: $color-orange-dark;
	}
}

.btn-standard {
	align-items: center;
	background-color: $color-orange-light;
	color: $color-white;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: .25px;
	display: flex;
	padding: $spacer-medium;
	text-transform: uppercase;

	&.btn-red {
		background-color: $color-orange-dark;
	}

	&.header-subscribe {
		@media #{$breakpoint-mobile} {
			display: none;
		}
	}

	i {
		margin-left: $spacer-small;
	}

	&:hover {
		background-color: $color-orange-dark;
	}
}
