.event-row {
	border-top: $border-primary;
	display: flex;
	font-size: 18px;
	justify-content: space-between;
	padding: 30px 15px;

	&:last-of-type {
		border-bottom: $border-primary;
		margin-bottom: $spacer-large;
	}

	@media #{$breakpoint-mobile} {
		flex-wrap: wrap;
	}

	&:hover {
		background-color: $color-gray-light;
	}
}

.event-name {
	font-weight: 700;
	width: 65%;

	@media #{$breakpoint-mobile} {
		margin-bottom: $spacer-small;
		width: 100%;
	}
}

.event-name-info,
.event-name {
	width: 65%;

	@media #{$breakpoint-mobile} {
		margin-bottom: $spacer-small;
		width: 100%;
	}

	p {
		font: $font-single-paragraph;
		margin-bottom: $spacer-medium;
	}
}

.event-date,
.event-time {
	width: 12%;

	@media #{$breakpoint-mobile} {
		width: 45%;
	}
}

.event-time {
	color: $color-gray;
}

.heading-section {
	.featured-events-wrapper & {
		padding-left: 10px;
	}
}
