.footer-nav {
	display: flex;
	font-family: $font-family-primary;
	font-size: 14px;

	@media #{$breakpoint-mobile} {
		flex-direction: column;
		line-height: 25px;
	}

	li {
		&:not(:last-of-type) {
			margin-right: 40px;
		}
	}
}

.footer-wrapper {
	border-top: $border-primary;
}

.footer-container {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
	padding: 30px 85px 30px;

	@media #{$breakpoint-mobile} {
		padding: $spacer-large;
	}

	@media #{$breakpoint-tablet} {
		padding: 40px;
	}
}

.footer-social {
	li {
		display: inline-block;
		&:not(:first-of-type) {
			margin-left: 20px;
		}

		a {
			transition-duration: .2s;
			&:hover {
				color: $color-jungle-green;
			}
		}
	}
}

.footer-credit {
	align-items: center;
	display: flex;
	font-size: 12px;

	span {
		margin-right: 5px;
	}
}

.alley-interactive-logo {
	svg {
		height: 32px;
		width: 132px;
	}
}
