.header-wrapper {
	align-items: center;
	display: flex;
	margin-top: $spacer-gutter;
	margin-bottom: $spacer-gutter;

	@media #{$breakpoint-mobile} {
		border-bottom: $border-primary;
		margin-bottom: 0;
		margin-top: $spacer-medium;
		padding-bottom: $spacer-medium;
	}
}

.nav-wrapper {
	display: flex;
	color: $color-gray;

	.fa-search {
		font-size: 20px;
	}
}

.dropdown-wrapper {
	border: 1px solid $color-gray;
	display: flex;
	padding: $spacer-small;
}

.hamburger-menu {
	background: none;
	display: none;
	font-size: 30px;
	margin-left: auto;

	@media #{$breakpoint-mobile} {
		display: block;
	}
}
.logo-wrapper {
	display: block;
	width: 380px;

	svg {
		display: block;
	}

	@media #{$breakpoint-mobile} {
		margin-right: $spacer-large;
	}
}

.main-nav {
	background-color: $color-gray-dark;
	height: 80px;
	display: flex;
	align-items: center;

	@media #{$breakpoint-mobile} {
    bottom: 0px;
		display: none;
    height: 100%;
		padding-top: $spacer-gutter;
		position: fixed;
    right: -60%;
		top: 0px;
		width: 60%;
		z-index: 9999;
	}

	&.active {
		display: block;
		right: 0px;
	}
}

.mobile-close {
	display: none;
	background: none;
	border: none;
	font-size: 24px;
	color: $color-white;
	position: absolute;
	top: 20px;
	right: 20px;

	@media #{$breakpoint-mobile} {
		display: block;
	}
}
.main-nav-items {
	font: $font-primary-nav;
	display: flex;
	transition-duration: .2s;

	a {
		text-decoration: none;
		transition-duration: .2s;

		&:hover {
			color: $color-gray-light;
		}
	}

	li {
		&:not(:last-of-type) {
			padding-right: 50px;

			@media #{$breakpoint-mobile} {
				padding-bottom: $spacer-large;
			}
		}
	}

	@media #{$breakpoint-mobile} {
		flex-direction: column;
	}
}

.main-nav-search {
		display: flex;
		margin-left: auto;
}
