.header-wrapper {
	align-items: baseline;
	display: flex;
	margin-top: $spacer-gutter;
	margin-bottom: $spacer-gutter;

	@media #{$breakpoint-tablet-max} {
		margin-bottom: $spacer-large;
		margin-top: $spacer-large;
	}
}

header {
	height: 86px;
	display: block;

	@media #{$breakpoint-tablet-max} {
		height: 68px;
	}
}

.sticky-wrapper {
	background-color: $color-black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	&:after {
		content: "";
		@extend %background-gradient;
		width: 100%;
		height: 3px;
		position: absolute;
		bottom: -1px;
	}
}

.nav-wrapper {
	display: flex;
	color: $color-white;

	.fa-search {
		font-size: 14px;
	}

	@media #{$breakpoint-tablet-max} {
		flex-direction: column;
	}
}

.dropdown-wrapper {
	border: 1px solid $color-gray;
	display: flex;
	padding: $spacer-small;
}

.hamburger-menu {
	background: none;
	color: $color-white;
	display: none;
	font-size: 24px;
	margin-left: auto;

	@media #{$breakpoint-tablet-max} {
		display: block;
	}
}
.logo-wrapper {
	display: block;
	margin-right: 52px;
	width: 215px;

	svg {
		display: block;
		fill: $color-white;
		transition-duration: $header-duration;
		&:hover {
			fill: $color-jungle-green;
		}
	}

	@media #{$breakpoint-tablet-max} {
		margin-right: 0;
	}
}

.main-nav {
	align-self: flex-end;
	display: flex;
	height: 13px;

	@media #{$breakpoint-tablet-max} {
		bottom: 0px;
		height: 100%;
		position: fixed;
		right: -60%;
		top: 0px;
		width: 45%;
		z-index: 9999;
		padding: 70px $spacer-large 0 $spacer-large;
		display: block;
		background-color: $color-black;
		transition: all 0.5s ease;
	}

	&.active {
		right: 0px;
	}
}

.mobile-close {
	display: none;
	background: none;
	border: none;
	font-size: 31px;
	color: $color-white;
	position: absolute;
	top: 20px;
	right: 20px;

	@media #{$breakpoint-tablet-max} {
		display: block;
	}
}
.main-nav-items {
	font: $font-primary-nav;
	display: flex;
	transition-duration: $header-duration;

	@media #{$breakpoint-tablet-max} {
		flex-direction: column;
	}

	a {
		text-decoration: none;
		transition-duration: $header-duration;

		&:hover {
			color: $color-jungle-green;
		}
	}

	li {
		padding-right: $spacer-gutter;

		@media #{$breakpoint-tablet-max} {
			padding-bottom: $spacer-large;
		}
	}
}

.main-nav-search {
	cursor: pointer;
	display: flex;
	margin-left: auto;
	transition-duration: $header-duration;

	@media #{$breakpoint-tablet-max} {
		display: none;
	}

	&:hover {
		color: $color-jungle-green;
	}
}

header {
	.widget-signup {
		margin-left: auto;

		@media #{$breakpoint-tablet-max} {
			display: none;
		}
	}
}

.header-signup {
	height: 19px;
	margin-left: auto;
	transition-duration: $header-duration;

	@media #{$breakpoint-tablet-max} {
		display: none;
	}

	.widget-signup--input {
		i {
			color: $color-jungle-green;
			top: 4px;

			&:hover {
				color: $color-white;
			}
		}
	}

	.form-input {
		border: none;
		background: none;
		color: $color-white;
		height: 23px;
	}

	::-webkit-input-placeholder {
		color: $color-jungle-green;
		font-size: 14px;
		text-transform: uppercase;
		transition-duration: $header-duration;
	}

	&:hover {
		cursor: pointer;

		::-webkit-input-placeholder {
			color: $color-white;
		}

		.widget-signup--input {
			i {
				color: $color-white;
			}
		}
	}

	button {
		color: $color-jungle-green;
		background-color: transparent;
		font-size: 14px;
	}

	&.mobile-signup {
		display: block;
		margin-left: -9px;
		margin-bottom: 25px;

		@media #{$breakpoint-desktop} {
			display: none;
		}
	}
}
