.home-newsletter-signup {

	@media #{$breakpoint-desktop} {
		flex: 50%;
		padding: 0px 0px 0px 70px;
		display: flex;
		flex-direction: column;
	}

	input {
		background-color: $color-white;
	}

	i {
		z-index: 99;
	}

	.widget-signup--form {
		flex-wrap: nowrap;
	}

	.widget-signup--button {
		height: auto;
		width: 30%;

		&:hover {
			background-color: $color-jungle-green;
		}

		@media #{$breakpoint-mobile} {
			width: 45%;
		}
	}
}

.right-column-signup {
	color: $color-white;

	p {
		margin-bottom: $spacer-medium;
	}
}

.newsletter-signup-input {
	display: block;
	background: #FFFFFF;
	border: 1px solid rgba(151,151,151,0.50);
	border-radius: 3px;
	margin-bottom: 35px;
	padding: 15px;
	width: 275px;
}

.newsletter-signup-input-wrap {
	display: table;
	position: relative;
}

.newsletter-btn {
	position: absolute;
	right: 10px;
	top: 15px;
	color: red;
	background: transparent;
}
