.map {
	@media #{$breakpoint-mobile} {
		margin-bottom: $spacer-section;
	}

	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		//@extend %background-gradient;
		background-color: $color-jungle-green;
	}

	.leaflet-popup-content-wrapper {
		border-radius: 4px;
	}

	.leaflet-popup-content {
		text-align: center;
	}

	.group-popup-link {
		color: $color-white;
		font: $font-widget-header;
	}
  // width and height set in map/index.js to make sure they're available before initializing map
}

.group-popup {

}

.group-popup-link {

  &.external {

  }
}
