.widget-most-popular--img {
	margin-right: $spacer-large;
}

.widget-most-popular--post {
	display: flex;
}

.widget-most-popular--header {
	font: $font-widget-header;
	padding-bottom: 3px;
}

.widget-most-popular--meta {
	color: $color-gray;
	display: flex;
	font-size: 14px;
}

.widget-most-popular--byline {
	margin-right: $spacer-small;
}

.widget-most-popular--list {

	>li {
		margin-bottom: 25px;
		padding-bottom: 20px;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 45px;
			border-top: 3px solid $color-gray-dark;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
