.widget-most-popular--img {
	margin-right: $spacer-large;
}

.widget-most-popular--post {
	display: flex;
}

.widget-most-popular--header {
	font: $font-widget-header;
	padding-bottom: 3px;
	font-weight: 400;

	&:hover {
		color: $color-blue;
	}
}

.widget-most-popular--meta {
	color: $color-gray;
	display: flex;
	font-size: 14px;
}

.widget-most-popular--byline {
	margin-right: 4px;

	&:after {
		@extend %slash;
		padding: 0 4px 0 8px;
	}

	&:hover {
		color: $color-blue;
	}
}

.widget-most-popular--list {

	>li {
		margin-bottom: 25px;
		padding-bottom: 20px;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 45px;
			border-top: 1px solid $color-gray;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
