.widget-signup {
	p {
		font-size: 14px;
		margin-bottom: $spacer-medium;
	}

	.widget-heading {
		margin-bottom: 3px;
	}
}

form {
	display: flex;

	button {
		background-color: $color-orange-light;
		color: $color-white;
		text-transform: uppercase;
		font-weight: 700;
		padding: 0px 20px;
		height: 30px;
		width: 100%;

		&:hover {
			background-color: $color-black;
			color: $color-white;
		}
	}

	.right-column-signup & {
		margin-bottom: $spacer-large;
	}
}

.widget-signup--input {
	position: relative;
	width: 100%;

	i {
		color: $color-gray;
		position: absolute;
		top: 11px;
		left: 10px;
	}
}

.form-input {
	background: none;
	border-radius: 3px 0 0 3px;
	border: 1px solid $border-primary;
	box-sizing: border-box;
	height: 40px;
	padding-left: 34px;
	position: relative;
	width: 100%;
	z-index: 69;
}

.widget-signup--form {
	flex-wrap: wrap;

	&:hover {
		cursor: pointer;
	}
}
