.statement-wrapper {
	padding: 35px 0;
	text-align: center;

	@media #{$breakpoint-mobile} {
		line-height: 38px;
	}

	.statement-title {
		color: $color-white;
		font: $font-heading-statement;
		text-shadow: 0 0 10px rgba(0,0,0,.2);

		&.primary {
			font-size: 50px;

			@media #{$breakpoint-mobile} {
				display: block;
				font-size: 40px;
			}
		}
	}
}

.statement {
	@extend %background-gradient;
	margin-bottom: $spacer-section;

	@media #{$breakpoint-mobile} {
		display: none;
	}
}
