.statement-heading {
	color: $color-white;
	font: $font-heading-statement;
	padding: 35px 0;
	text-align: center;
	text-shadow: 0 0 10px rgba(0,0,0,.2);

	@media #{$breakpoint-mobile} {
		line-height: 38px;
	}

	span {
		font-size: 50px;

		@media #{$breakpoint-mobile} {
			display: block;
			font-size: 40px;
		}
	}
}

.slogan {
	background: #43cea2;
  background: -webkit-linear-gradient(270deg,#43cea2,#185a9d);
  background: linear-gradient(270deg,#43cea2,#185a9d);
	margin-bottom: $spacer-section;

	@media #{$breakpoint-mobile} {
		display: none;
	}
}
